* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6E6FA;
}

.menu-pq {
    background-color: rgba(18, 18, 97, 0.877);
    position: fixed;
    width: 100vw;
    top: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Major Mono Display', monospace;
    

}

.menu-pq ul {
    display: flex;
    justify-content: space-evenly;
    
}

.menu-pq li{
    list-style: none;
    
}

.menu-pq a {
    color: #B0C4DE;
    text-decoration: none;
    font-size: 12px;
    padding: 20px;

    
}

.menu-pq a:active,
.menu-pq a:hover {
    text-shadow:  0.1em 0.1em rgba(228, 228, 241, 0.8);
}

.container {
    display: grid;
    grid-template-columns: 260px 5fr;
    grid-template-rows: 100%;
    height: 100vh;
    grid-template-areas: 'header main';
       
    
}

header {
    background-image: url('../img/nebulosa.jpg');
    background-repeat: no-repeat;
    backdrop-filter: invert(14%);
    height: 100vh;
    width: 260px;
    position: fixed;
    grid-area: header;
    
}

.container .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:auto;
  font-family: 'Major Mono Display', monospace;
  
}

.container .menu img {
    height: 160px;
    margin-bottom: 60px;
    

}

.menu li {
    list-style: none;
    text-align: center;
    padding: 20px;
       
}

.menu a {
    color: #B0C4DE;
    text-decoration: none;
    border: 1px solid #B0C4DE;
    padding: 10px;
    border-radius: 20px;
    transition: box-shadow .5s;
}


.menu a:hover {
    box-shadow: 0em 0em 0.2em 0.4em rgba(3, 3, 97, 0.5);
}

h3 {
    color: #B0C4DE;
    margin-top: -15px;
    font-family: 'Cutive Mono', monospace;
    font-size: 10px;
    text-align: center;

}

@media (max-width: 652px) {
    header {
        display: none;
    }
    
    h1 {
        margin-left: -310px;
        padding-top: 60px;
    }
    
    p {
        margin-left: -310px;
    }

    .gatos {
        margin-left: -320px;
    }
}

@media (min-width: 652px) {
    .menu-pq {
        display: none;
    }

    
}


main {
    font-family: 'Cutive Mono', monospace;
    margin-right: 5em;
    margin-left: 3em;
    grid-area: main;
    
    
    
        
}

main h1 {
    font-family: 'Source Code Pro', monospace;
    color: rgb(2, 2, 92);
    text-shadow:  0.05em 0.05em rgba(3, 3, 97, 0.5);
    margin-top: 30px;
    margin-bottom: 40px;
    
    
}

main p {
    text-align: justify;
    font-size: 1.3em;
    color: rgb(0, 0, 26);
    line-height: 1.2em;
    text-indent: 1.4em;
    max-width: 100vw;
    
}

@media (max-width: 900px) {
    main {
        margin-left: 3em;
        font-size: 0.9em;
    }

}

@media (max-width: 643px) {
    main {
        margin-left: 6em;
        margin-right: 3em;
        
    }

}

.inicio {
    margin-top: 8em;
    max-width: 550px;
    
    
}

.inicio p {
    text-indent: 0;
   
}

.foto {
    width: 300px;
    border-radius: 50%;
    float: right;
    margin: 2em;
    margin-top: -13em;
    
}

.gatos {
    display: grid;
    gap: 30px;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: rgb(0, 0, 26);

    
}

@media (min-width: 783px) {
    .gatos {
        grid-template-columns: 1fr 1fr;
    }

}

.gatos img {
    width: 300px;
    border-radius: 20%;
    box-shadow:  .5em .5em .5em rgba(3, 3, 97, .5);
}

.gatos figcaption {
    color: rgb(0, 0, 26);
    font-size: 17px;
}

@media (max-width: 1200px) {
    .inicio {
        margin-top: 2em;
        
    }

    .foto {
        margin: 2em;
        margin-top: 8em;
        
    }

    .conteudo {
        margin-top: -2em;
    }
}

@media (max-width: 1057px) {
   .gatos img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 783px) {
    .foto {
        width: 150px;
    
    }

}

@media (max-width: 583px) {
    .conteudo {
        margin-right: 4em;
    }

}

@media (max-width: 556px) {
    .conteudo {
        margin-right: 2em;
        margin-left: 1em;
        margin-top: -7em;
    }

    .foto {
        float: none;
        margin-left: -200px;
        margin-top: 1em;
    }

}

@media (max-width: 392px) {
    .inicio {
        font-size: 10px;
        max-width: 50px;
    }
   
    .conteudo {
        font-size: 12px;
        margin-left: -0.5em;
        margin-right: .4em;
    }

}

@media (max-width: 360px) {
    .inicio {
        font-size: 10px;
        width: 50px;
    }
   
    .conteudo {
        font-size: 12px;
        margin-left: -0.5em;
        margin-right: 5em;
    }

    .foto {
        margin-left: -250px;
    }

}